@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('Bg.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
    color: #4B0082;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.mail-container {
    margin: 50px 0;
    margin-top: 80px;
}

img {
    width: 500px;
    transition: transform 0.5s ease-in-out;
    margin-top: 200px;
}

button {
    background-color: #00CFFF;
    color: white;
    border: none;
    padding: 25px 40px;
    font-size: 1.8rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 40px;
    font-family: 'Pacifico', cursive;
}

button:hover {
    background-color: #009ACD;
}
